@import "./../node_modules/bootstrap/scss/bootstrap";
@import "./../node_modules/react-vis/dist/styles/legends";

body{
  background: darkgrey;
}

#leftcontent {
  padding-top: 10px;
}

#rightcontent {
  padding-top: 10px;
}

#nametag{
  color: white;
}

#navigationBox{
  border: 2px solid black;
  border-radius: 10px;
}

#boxes{
  border: 2px solid sandybrown;
  border-radius: 10px;
}

#navbutton:hover{
  cursor: pointer;
}
